<div class="sideSectionWrapper">
  <div class="sideSection">
    <div class="wybierzDateWrapper">
      <div class="wybierzDate">
        <div class="wybierzDateTitle">Wysyłki z okresu</div>
        <div class="dataOd">
          <input type="date">
        </div>
        <div class="oddzielacz"> do</div>
        <div class="dataDo">
          <input type="date">
        </div>
      </div>
      <div class="dataWyswietl customBG3">Data:</div>
      <div class="klientWyswietl customBG3">Klient:</div>
      <div class="zamowieniaWyswietl customBG3">Zamówienia:</div>
      <div class="ZOPZWyswietl customBG3">ZAM:</div>
      <div class="liniaPierwszaWyswietl customBG3 d-flex">
        <div class="iloscWyswietl flex-grow-1">Ilość:</div>
        <div class="raportDebnoWyswietl flex-grow-1">Raport FirmaA:</div>
      </div>
      <div class="liniaDrugaWyswietl customBG3 d-flex">
        <div class="raportPilznoWyswietl flex-grow-1">Raport FirmaB:</div>
        <div class="iloscKWNPilzno flex-grow-1">Ilość KWN FirmaB:</div>
      </div>
      <div class="przypisanieWrapper customBG3 d-flex align-items-center">
        <div class="d-flex flex-column flex-grow-1">
        <div class="przypisanieSerieIlosci mb-2">Przypisane serie i ilość:</div>
          <div class="d-flex">
            <div class="sumaPrzypisania flex-grow-1">Suma:</div>
            <div class="brakuje flex-grow-1">Brakuje:</div>
          </div>

        </div>
        <div class="buttonPrzypisanie flex-grow-3">
          <button class="customButtonMain" type="button" name="button">Przypisz serie i ilość</button>
        </div>
      </div>
      <div class="tabelaWrapper">
        <div class="tabelaTop d-flex px-2">
          <div class="tabelaSeria flex-grow-1">Seria</div>
          <div class="tabelaIlosc flex-grow-1">Ilość</div>
          <div class="tabelaData flex-grow-1">Data</div>
        </div>
        <div class="tabelaContent">

        </div>
      </div>
    </div>
  </div>

</div>
