<div class="topSectionWrapper">
  <div class="documentTitleWrapper">
    <div class="documentTitle">
      Aktualny dokument:
    </div>
    <div class="documentNumber">
      111454360107.doc
    </div>
  </div>
  <div class="mainSectionWrapper">
    <div class="mainSection">
      <div class="wybierzDokument">
        <select name="" id="">
          <option>mikro</option>
        </select>
      </div>
      <!--2 Linia      -->
      <div class="wybierzDokumentLine2 wybierzDokumentLine">
        <div class="d-flex gapCustom">
          <label>
        <div class="cursorOn zaznaczOdznaczZOPZ d-flex align-items-center widthCustom">
          <input type="checkbox" value="" checked> ZAM:
        </div>
          </label>
        <div class="wpiszNumerDokumentu">
          <input class="customInput" type="number" value="8888">
        </div>
        </div>
        <div class="oddzielacz px-2"> /</div>
        <div class="wpiszRokDokumentu">
          <input class="customInput" type="number" value="2023">
        </div>
      </div>
      <!--3 Linia      -->
      <div class="wybierzDokumentLine3 wybierzDokumentLine">
        <div class="pozycjaZamowienia">
         Pozycja zamówienia:
        </div>
        <div class="wpiszNumer">
          <input class="customInput" type="number">
        </div>
        <div class="wczytajOstatnie">
          <button class="customButtonMain">Wczytaj ostatnie</button>
        </div>
      </div>
      <!--4 Linia      -->
      <div class="wybierzDokumentLine4 wybierzDokumentLine">
        <div class="d-flex gapCustom">
        <div class="pozycjaZamowienia widthCustom">
          Seria:
        </div>
        <div class="wpiszNumer">
          <input class="customInput" type="number">
        </div>
          </div>
        <div class="wczytajOstatnie">
          <button class="customButtonMain fw-bold">NASTĘPNA SERIA</button>
        </div>
      </div>
      <!--5 Linia      -->
      <div class="wybierzDokumentLine4 wybierzDokumentLine">
        <div class="d-flex gapCustom">
        <div class="pozycjaZamowienia widthCustom">
          Ilość kpl:
        </div>
        <div class="wpiszNumer ">
          <input class="customInput" type="number">
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
