<div class="bottomSectionWrapper">
  <div class="bottomSection">
  <div class="drukujButton">
    <button class="customButtonMain" type="button" name="button">DRUKUJ</button>
  </div>
    <div class="zaznaczLiniaPierwsza  d-flex gap-5 p-2 m-2">
      <label >
      <div class="wpisujDoBazy customBG3click d-flex align-items-center">
        <input class="zaznaczOdznacz" type="checkbox" value="" checked> Wpisuj do bazy
      </div>
      </label>
      <label>
      <div class="zapisujDoArchiwum customBG3click d-flex align-items-center">
        <input class="zaznaczOdznacz" type="checkbox" value="" checked> Zapisuj do archiwum
      </div>
      </label>
    </div>
    <div class="zaznaczLiniaDruga  d-flex gap-5 p-2 m-2">
      <label>
      <div class="ustawiajLimity customBG3click d-flex align-items-center">
        <input class="zaznaczOdznacz" type="checkbox" value="" checked> Ustawiaj limity
      </div>
</label>
      <label >
      <div class="pokazujOpcjeWydruku customBG3click d-flex align-items-center">
        <input class="zaznaczOdznacz" type="checkbox" value="" > Pokazuj opcje wydruku
      </div>
      </label>
    </div>
  </div>
  <button class="customButtonMain mt-3 px-3" type="button" name="button">Kasuj Limity z danej Serii</button>
</div>
