@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  --backgroundColorMainCustom: #d2d2d2;
  --backgroundColorSecendCustom: #ececec;
  --backgroundColorThirdCustom: #f5f5f5;
  --buttonColorMain: rgb(215, 215, 215);
  --buttonColorSecondary: #f5f5f5;
  --buttonColorSecondaryHover: #e6e6e6;
  --borderColorMain: #6c6a6a;
  --shadowMainColor: rgba(58, 57, 57, 0.7);
}
.gapCustom {
  gap: 100px;
}
.widthCustom {
  width: 70px
}
.zaznaczOdznacz {
  margin-right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;

}
.customBG3 {
  background-color: var(--backgroundColorThirdCustom);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.customBG3:hover {
  background-color: var(--buttonColorSecondaryHover);
  box-shadow: var( --shadowMainColor) 1px 1px 2px 1px;
}
.customInput {
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: var(--borderColorMain) solid 1px;
  box-shadow: inset var(--shadowMainColor) 1px 1px 2px 1px;
  transition: 0.2s ease-in-out;
  padding: 0 5px;
  width: 150px;
}
.customInput:hover {
  background-color: var(--buttonColorSecondary);
}

.customButtonMain {
  background-color: var(--buttonColorMain);
  border: var(--borderColorMain) solid 1px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  box-shadow: var(--shadowMainColor) 2px 2px 3px 1px;
}

.customButtonMain:hover {
  background-color: var(--buttonColorSecondary);
  border: var(--borderColorMain) solid 1px;

}
.customButtonMain:active {
  background-color: var(--buttonColorSecondary);
  border: var(--borderColorMain) solid 1px;
  box-shadow: var(--shadowMainColor) 0 0 0 0;
  transition: 0.05s ease-in-out;
}



@media all and (max-width: 1200px) {
  .customInput {
    max-width: 140px;
  }

}
@media all and (max-width: 999px) {
  .customInput {
    max-width: 100px;
  }

}
